[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlt = {extras = ["qdrant"], version = "*"}
qdrant-client = {extras = ["fastembed"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
